.ConnectLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (min-width: 900px) {
    .ConnectLinks {
        max-width: 944px;
        justify-content: space-between;
        margin: 0 auto;
    }
}
